<a href="https://colab.research.google.com/github/dtd08/Empty/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

파이썬은 띄어쓰기를 조심해야함
print문장은 화면에 출력해주는 명령어


파이썬에서 변수 만들기는 쉬움.
약속되지 않은 이름을 사용하면 됨

In [ ]:
print("My first Python code!") #따옴표로 감싸있음 => 문자열

a='Hi' #'=' 대입연산자
b='nice to meet you'
#{a}, {b} #format?
print(f'{a}, My name is Lee seoyoung. {b}')

#얘도 포멧인데
name = 'Lee seoYoung'
print("My name is {}".format(name))

name = '홍길동'
age = 17
print('안녕하세요. 전', name, '이고, ', age, '살 입니다')

My first Python code!
Hi, My name is Lee seoyoung. nice to meet you
My name is Lee seoYoung
안녕하세요. 전 홍길동 이고,  17 살 입니다

In [ ]:
#연산자
a = 5
b = 3
print(a%b) #나머지를 구하는 연산자

2

In [ ]:
a = 5
b = 3
c = 5
print(a == b) #비교연산자
print(a == c)
print(a != b)
print(a != c)
#결과: False True True False

False
True
True
False

In [ ]:

a = 5 #서로 값을 교환
b = 2
print("교환 전: ", a, ", ", b)
temp = a
a = b
b = temp
print("교환 후: ", a , ", ", b)

a = a+b
b = a-b
a = a-b
print(a, b)

교환 전:  5 ,  2
교환 후:  2 ,  5
5 2

In [ ]:
str = 'hello'

In [ ]:
print(str)

hello

In [ ]:
#우리반 학생을 저장(1~10번)
 #방법 1
s1 = '김개똥'
s2 = '홍길동' #만약 학생이 100명이라면? 100개의 변수가 필요

 #방법 2
student = ['홍길동', '김개똥', 100] #리스트에 다른 형태의 자료형도 보관 가능(== 굉장히 혜자스러운 점)
#하나의 묶음으로 보관 ==> List (다른 언어에서는 배열 array 이라 부름)

print(student[0])
print(student[1])
print(student[2])
#배열의 시작 방번호는 항상 0이다 
#진수란 한 자리에 몇까지 들어가냐는 것 ==> 한 자리에 9까지 쓰지 10을 쓰지 않음 ==> 10진수란 0~9를 이용해 수를 나타내는 진법임 

student.append('이서영') #리스트에 값 추가 == append()
print(student[3])

#리스트에서 쓸 수 있는 기능들은 어떤게 있을까?
#특정항목 삭제
student2 = []
student2 = student
student2.pop(1) #나가는건 pop, 들어오는건 push, 1번방 항목이 삭제된다
print(student2)
del(student2[2])
print(student2)

홍길동
김개똥
100
이서영
['홍길동', 100, '이서영']
['홍길동', 100]

In [ ]:
# 1번의 이름, 국어, 영어, 정보 성적을 보관
# 2번의 이름, 국어, 영어, 정보      "
s1 = ['김개똥', 100, 50, 70]
s2 = ['홍길동', 60, 70, 100]

cls = [s1, s2] # 리스트 안에 리스트(배열)를 넣을 수 있음 => 2차원 리스트(배열)
print(cls)
a1 = cls[0] #s1 = 김개똥의 배열
print(a1[1]) #김개똥의 국어 점수
print(cls[0][1])

#배열과 리스트의 차이
# 배열 ==> 크기 고정, 변경불가
# 리스트 ==> 크기가 변함, 변경 가능

[['김개똥', 100, 50, 70], ['홍길동', 60, 70, 100]]

In [ ]:
# type(변수) = 변수의 타입(자료의 형태를 출력)
print(type(cls)) #cls의 자료형
num = 3.14
print(type(num))

<class 'list'>
<class 'float'>

In [ ]:
#사용자 입력
# print(안내문자) 또는 input(안내문자)
name = input("이름을 입력하세요 > ") # 입력하기 기능
print("hello", name)

print('hello' + name)

#포맷팅 print(f"문자열 {포맷할 변수}")
print(f'Hello {name}') # 'f' 로 시작하는 포맷팅을 이용해서 변수를 안에 표현할 수 있음

이서영
hello 이서영

In [ ]:
num = 240+180+330+190+180+520+290+870+220+440+340+570+320+310
print(num)

5000

In [ ]:
#리스트에 관해서... 문자열
#String = 문자열
str = 'Hello World' #자체가 배열
print(str[4]) #['H','e','l','l'....] 형태로 저장되고 있음
print(len(str)) #len() 기능은 문자의 길이를 출력

list1 = [1,2,3,4,5] #배열의 길이를 알 수 있을까?
print(len(list1)) #가능

o
11
5

In [ ]:
#반복문 - 반복된 작업을 쉽게
#상황 - 리스트 = [0,0,0,0,0,0,,,,,] => 100칸 생성
#만약 반복문을 쓰지 않는다면....
# => list = [0,0,0,0,....] 또는
# => list = []    list.append(0)...100번

# 이런 상황을 타개하기 위해 만들어진게 반복 명령어(for, while)
# for = 제한된 횟수 만큼 반복
# k = 반복하면서 사용할 변수
for k in range(10): #range(범위)  0~(범위-1) 까지
                    #range(시작범위, 끝범위)  시작범위부터 (끝범위-1) 까지
# ' : ' 표시는 중괄호 시작이랑 같은 뜻
  #안에 들여쓰기 함 
  print(k) # k는 0~9까지 변신
  print('반복중')

0
반복중
1
반복중
2
반복중
3
반복중
4
반복중
5
반복중
6
반복중
7
반복중
8
반복중
9
반복중

In [ ]:
#리스트 배열을 만들고 [0,2,4,6...] 순서로 100개의 값을 초기화
#배열의 항목을 추가하는 명령어 append()

#방법 1
list = []
for n in range(100):
  list.append(n*2)
print(list)
#print(len(list))

#방법 2
list2 = []
for n in range(0, 200, 2): #0부터 200까지 2씩 커짐
  list2.append(n)
print(list2)
print(len(list2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198]
100

In [5]:
#for문은 반복문 => 똑같은 작업을 할 수 있도록 횟수를 지정하는 반복문
n = input('숫자를 입력하세요 > ')
print(n*3) #input()으로 받은 값은 문자로 처리됨
k = int(n)
print(k*3)
# 또는 n = int(input())

숫자를 입력하세요 > 3
333
9

In [12]:
#입력하는 단의 구구단 출력
# 예)   3 입력 => 3*1 = 3.... 3*9 = 27
n = int(input())
for i in range(1, 10):  #1~10 전까지 = 1~9    #콜론 ":" 붙이도록
  # 반복할 작업은 탭만큼 들여써서 작성
  print(f"{n} * {i} = {n*i}") # {}는 안에 있는 변수의 값을 출력
print("-end-")

3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
-end-